
.formContainer {
    background-color: #ffffff;
    padding: 40px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    animation: slideIn 0.8s ease-in-out;
}

.form {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 20px;
    position: relative;
}

.label {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 10px;
    display: inline-block;
    transition: color 0.3s;
}

.input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333333;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus,
textarea:focus,
select:focus {
    border-color: #ff3f6c;
    box-shadow: 0 0 5px rgba(255, 63, 108, 0.5);
}

textarea {
    min-height: 100px;
}

.submitButton {
    background-color: #ff3f6c;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #ff577d;
}

.error, .success {
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.error {
    color: black;
}

.success {
    background-color: #4caf50;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
